{% extends '::layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <p class="lead">Checkout</p>

    <table class="table table-striped table-condensed text-center">
        <thead>
        <tr>
            <td>Picture</td>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
        </tr>
        </thead>
        <tbody>
        {% if products|length > 0 %}
            {% for product in products %}
                <tr class="text-center">
                    {% set q = app.session.get('cart')[product.id] %}
                    <td><img class="slide-image" src="http://placehold.it/160x60" alt=""></td>
                    <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.name }}</a></td>
                    <td class="price">{{ product.price}}</td>
                    <td>
                        {{ q }}
                    </td>
                    <td class="item-total">&pound; {{ product.price * q }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="info text-right" colspan="4">Total: </td>
                <td class="warning text-center" colspan="1" id="total">&pound; {{ app.session.get('total')? app.session.get('total') : 0 }}</td>
            </tr>
        {% else %}
            <tr class="danger">
                <td colspan="5" class="text-center">Your cart is empty</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <div class="clearfix">
        <p class="pull-left"><h3>Shipping information</h3></p>
        <p class="checkbox pull-right">
            <label>
                <input type="checkbox" id="load-user-info"> Same as the registered informations
            </label>
        </p>
    </div>

    <div class="user-info-form">
    {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.address) }}
        {{ form_row(form.city) }}
        {{ form_row(form.county) }}
        {{ form_row(form.zip) }}
        {{ form_row(form.country) }}
        <hr>
        {% if app.session.get('cart')|length > 0 %}
            <button type="submit" class="btn btn-success pull-right">Order</button>
            <a href="{{ path('cart-reset') }}" class="btn btn-danger pull-right" role="button">Reset cart</a>
        {% endif %}
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            $('#load-user-info').change(function () {
               if ($(this).is(':checked')){
                   $("#user_info_fullName").val("{{ app.user.fullName }}");
                   $("#user_info_address").val("{{ app.user.address }}");
                   $("#user_info_city").val("{{ app.user.city }}");
                   $("#user_info_county").val("{{ app.user.county }}");
                   $("#user_info_zip").val("{{ app.user.zip }}");
                   $("#user_info_country").val("{{ app.user.country }}");
               }else {
                   $(".user-info-form > form")[0].reset();
               }
            });
        });
    </script>
{% endblock %}