{% extends '::layout.html.twig' %}

{% block content %}
    <div class="thumbnail clearfix">
        <img class="img-responsive" src="http://placehold.it/800x300" alt="">
        <div class="caption-full">
            <h4 class="pull-right">&pound;{{ product.price }}</h4>
            <h4><a href="#">{{ product.name }}</a>
                {% if product.quantity == 0 %}
                    <span class="glyphicon glyphicon-info-sign red" data-toggle="tooltip" data-placement="right" title="We are out of stock at the moment"></span>
                {% elseif  product.quantity < 5 %}
                    <span class="glyphicon glyphicon-info-sign orange" data-toggle="tooltip" data-placement="right" title="Only few pieces left"></span>
                {% elseif  product.quantity < 10 %}
                    <span class="glyphicon glyphicon-info-sign yellow" data-toggle="tooltip" data-placement="right" title="Less than 10 pieces left"></span>
                {% else %}
                    <span class="glyphicon glyphicon-info-sign green" data-toggle="tooltip" data-placement="right" title="{{ product.quantity }} pieces in the shop"></span>
                {% endif %}
            </h4>
            <p>{{ product.description }}</p>
        </div>
        <div class="ratings">
            <div class=" pull-right form-group-sm">
                <button class="btn btn-primary add-button" data-id="{{ product.id }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart</button>
                <p class="quantity-input"><input id="input-quantity" class="form-control" type="number" placeholder="1" value="1" min="1" max="99" maxlength="2"></p>
            </div>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                4.0 stars
            </p>
        </div>
    </div>

    <!--
    <div class="well">

        <div class="text-right">
            <a class="btn btn-success">Leave a Review</a>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">10 days ago</span>
                <p>This product was great in terms of quality. I would definitely buy another!</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">12 days ago</span>
                <p>I've alredy ordered another one!</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">15 days ago</span>
                <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
            </div>
        </div>

    </div>
    -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            $('.glyphicon-info-sign').tooltip();


        });
    </script>
{% endblock %}