{% extends '::layout.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block content %}
    <h1>Edit User Information</h1>
    {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.address) }}
        {{ form_row(form.city) }}
        {{ form_row(form.county) }}
        {{ form_row(form.zip) }}
        {{ form_row(form.country) }}
    <hr>
    <button type="submit" class="btn btn-success pull-right">Edit</button>
    <a href="{{ path('profile-show') }}" class="btn btn-primary pull-right" role="button">Back</a>
    {{ form_end(form) }}
{% endblock %}